* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    width: 100%;
    padding-top: 70px;
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.header-container {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0px 30px;
    background-color: #000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 60px;
    height: 60px;
    margin: 5px;
    /* background-image: url(assets/logo.svg);  */
}

.header-text-logo {
    width: 120px;
    height: 60px;
}

.header-menu {
    display: none;
    width: 40px;
    height: 40px;
}

.header-cart-container {
    margin: 0 10px;
}

.header-link {
    position: relative;
    display: block;
    padding: 12px;
    letter-spacing: 0.32px;
    font-weight: 700;
    font-size: 14px;
}

.header-link::after {
    opacity: 0;
    background: transparent;
    position: absolute;
    bottom: -13px;
    height: 3px;
    left: 8px;
    right: 8px;
    z-index: 10;
    content: '';
}

.header-parent-link {
    height: 70px;
    display: flex;
    align-items: center;
}

.header-parent-link:hover > .header-link {
    color: #FFB7C5;
}

.header-parent-link:hover > .header-link::after {
    opacity: 1;
    background: #FFB7C5;
}

.header-parent-link:hover > .header-link.discounts::after {
    background: #FF293E;
}

.header-link-cart {
    background: #FAB818;
    padding: 5px;
    border-radius: 8px;
    display: block;
}

.header-link-cart > img {
    width: 26px;
    margin-bottom: -5px;
}

.header-expanding-panel {
    display: none;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 100%;
    left: 0;
    text-align: center;
    box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.8);
}

.header-parent-link:hover > .header-expanding-panel {
    padding: 45px;
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
}

.header-expanding-panel-items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 1.5;
}

.header-expanding-panel-image {
    display: block;
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    background-position: center;
    margin: 10px;
    border-radius: 40px 0px 40px 0px;
}

.header-expanding-panel-image:hover {
    border-right: 5px solid #B3101E;
    border-left: 5px solid #B3101E;
}

.header-expanding-panel-title-link {
    color: #E74B6A;
    margin-bottom: 10px;
}

.header-mobile {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #000;
    top: 100%;
    left: 0;
    text-align: center;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.8);
    z-index: -1;
}

.header-mobile-link {
    display: block;
    margin: 10px 0px;
}

.header-mobile.hidden {
    top: -220px;
}

/*==================slider=================*/

.page-width {
    padding: 0 45px;
    max-width: 1180px;
    margin: 5px auto;
}

.slider {
    position: relative;
    overflow: hidden;
    margin: 0 5px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider-control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}
.slider-control:hover,
.slider-control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.slider-control-left {
    left: 0;
}
.slider-control-right {
    right: 0;
}
.slider-control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.slider-control-left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider-control-right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider-item > div {
    height: 400px;
}
.slider-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
.slider-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #9e9e9e;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.slider-indicators li.active {
    opacity: 1;
}
/*==================hit-goods=================*/

.grid {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.3%;
}

.hit-goods-grid-item {
    display: block;
    position: relative;
}

.hit-goods-grid-item-image {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    background-position: center;
    margin: 5px;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.hit-goods-grid-item-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.5);
}

.hit-goods-grid-item-title {
    text-align: center !important;
}

.hit-goods-grid-item-title {
    color: #fff;
    margin: 0;
    font-size: 1.2em;
}

/*===================banner===================*/

.banner {
    text-align: center;
    font-weight: 300;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.35) 100%), url(assets/banner-background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.banner-socials p {
    margin-top: 0;
}

.banner-socials img {
    width: 50px;
    height: 50px;
}

.banner-telegram-bot img {
    margin-top: -20px;
    width: 100px;
    height: 100px;
}

.fall-bg {
    position: relative;
 }
 
.fall-bg:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/leaves1.svg'), url('assets/leaves2.svg');
    pointer-events: none;
    background-size: 500px, 400px;
    animation: fall 20s linear infinite;
 }

 @keyframes fall {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -250px 500px, 150px 200px;}
  100% {background-position: 0 1000px, 0 400px;}
 }

/*===================footer===================*/

.footer {
    margin: auto;
    background-color: #000 ;
    color: #fff;
    padding: 5px 30px 5px 30px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;
    line-height: 1.1;
}

.footer-nav-col {
    width: 25%;
    min-width: 100px;
    margin-bottom: 20px;
}

.footer-nav-col-container {
    margin: auto;
    width: max-content;
    max-width: 100%;
}

.footer-nav-container-mobile {
    width: max-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: left;
}

.footer-nav-title, .footer-nav-mobile-title {
    color: #B3101E;
}

.footer-nav-mobile-title {
    font-size: 1.5em;
}

.footer-nav-mobile {
    display: none;
    max-width: 100%;
}

.footer-nav-mobile-panel {
    padding: 15px 0;
    border-bottom: 1px solid #d8d8d8;
}

.footer-nav-mobile-panel:first-of-type {
    border-top: 1px solid #d8d8d8;
}

.footer-nav-mobile-title {
    cursor: pointer;
    margin: 10px 0px;
}

.footer-nav-link-mobile {
    margin-top: 10px;
    font-size: 1.2em;
}

.footer-nav-container-mobile.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .header-menu {
        display: block;
    }

    .header-link {
        display: none;
    }

    .header-link-cart {
        margin-right: 20px;
    }

    .header-cart-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-item > div {
        height: 200px;
    }

    .one-half, .one-third {
        width: 100%;
    }

    .footer-nav-col {
        display: none;
    }

    .footer-nav-mobile {
        display: block;
    }
}